mat-dialog-title{ color: #333; font-size: 20px; }

mat-dialog-content{ color: #666; font-size: 16px; }

mat-dialog-actions{ justify-content: flex-end; }

.content-span{

font-size: 20px;

font-weight: bold;

}