<div>

    <mat-icon id="close-icon" (click)="onNoClick()" style="margin-left: 350px;"> close</mat-icon>
    
    <div class="content-container" style="padding-top: 20px;">
    
    <span class="content-span full-width"> {{data.message}}</span>
    
    </div>
    
    <div style="margin-left: 225px;padding-top: 30px;">
    
    <button mat-raised-button color="warn" id="no-button">Cancel</button>
    
    <button mat-raised-button color="primary" id="yes-button" [ style="margin-left:
    
    10px">Yes</button>
    
    </div>
    
    </div>