/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@use '@angular/material' as mat;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar {

    max-width: 90% !important;

    margin-left: auto !important; // center align from left

    margin-right: auto !important; // center align from right

    margin-bottom: 1rem !important;

    padding: 10px !important; // spacing between the text and boundar

    background-color: green !important;;

    color: white;

    .mat-button-wrapper {

        color: black !important; // action text color

    }
}

